html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  border: none;
  background: transparent;
}
button {
  border: none;
  background: transparent;
}

/* container */
.container {
  width: 50%;
  margin: 0 auto;
}
/* nav style */
.header {
  padding: 20px 0;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.nav_right_side {
  height: 100%;
  display: flex;
  place-items: center;
  gap: 20px;
}
.nav_right_side .content {
  height: min-content;
}
.nav_right_side .circle {
  padding: 10px;
  border: 5px solid #b506ef;
  border-radius: 100px;
}
.in_het_button button {
  margin-top: 20px;
  width: 100%;
  color: #fdfcfc;
  background: #f9bd08;
  padding: 12px 0;
  font-size: 20px;
  font-weight: 600;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}
/* main section of main_content */
.main {
  height: 100%;
}
.main_content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  place-items: center;
}
.main_content .icon {
  font-size: 30px;
}
.main_content .center {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}
.main_content .text_font {
  font-weight: 700;
  font-size: 25px;
}
/* middle section */
.main_content .main_middle {
  gap: 50px;
  display: flex;
  flex-direction: column;
}
.main_content .main_middle .middle div {
  position: relative;
  height: 180px;
  width: 180px;
  background: #f9bd08;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}
.main_content .main_middle .middle div::before,
.main_content .main_middle .middle div::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: #f9bd08;
  height: 25px;
  width: 2px;
}
.main_content .main_middle .middle div::before {
  top: -35px;
}
.main_content .main_middle .middle div::after {
  bottom: -35px;
}
/* left right combo */
.main_content .main_left_side,
.main_content .main_right_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
/*  */
.main_content .main_left_side .top,
.main_content .main_right_side .top {
  position: relative;
}
.main_content .main_left_side .top::before,
.main_content .main_right_side .top::before {
  content: "";
  position: absolute;
  top: 80%;
  right: -20%;
  background: #f9bd08;
  height: 25px;
  width: 2px;
  transform: rotate(115deg);
}
.main_content .main_right_side .top::before {
  transform: rotate(60deg);
  left: -20%;
}
/*  */
.main_content .main_left_side .bottom,
.main_content .main_right_side .bottom {
  position: relative;
}
.main_content .main_left_side .bottom::before,
.main_content .main_right_side .bottom::before {
  content: "";
  position: absolute;
  top: 0%;
  right: -20%;
  background: #f9bd08;
  height: 25px;
  width: 2px;
  transform: rotate(65deg);
}
.main_content .main_right_side .bottom::before {
  transform: rotate(120deg);
  left: -20%;
}
/* main bottom content */
.main_bottom_content {
  margin-top: 30px;
}
